.twc-panel__header
  .twc-panel__settings(ng-click="panel.settings()")
    svg(
      xmlns="http://www.w3.org/2000/svg"
      width="12"
      height="12"
      viewBox="0 0 24 24"
    )
      path(
        d="M24 13.616v-3.232l-2.87-1.02a9.445 9.445 0 0 0-.81-1.955l1.308-2.752-2.285-2.285-2.75 1.307a9.468 9.468 0 0 0-1.956-.81L13.617 0h-3.233l-1.02 2.87a9.413 9.413 0 0 0-1.956.81l-2.75-1.308L2.37 4.657 3.68 7.41a9.39 9.39 0 0 0-.81 1.954L0 10.384v3.232l2.87 1.02a9.39 9.39 0 0 0 .81 1.955l-1.308 2.752 2.285 2.286 2.75-1.308c.614.34 1.27.613 1.956.81l1.02 2.87h3.233l1.02-2.87a9.445 9.445 0 0 0 1.956-.81l2.75 1.308 2.286-2.286-1.308-2.75c.34-.614.613-1.27.81-1.956l2.87-1.02zM12 16a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"
      )
  .twc-panel__title(ng-bind="panel.title")
  .twc-panel__close(ng-click="panel.close()") ×
.twc-panel__main
  ng-transclude
